extends layout

block content
  #wrapper
    #movieInfo.outercontainer
      h2 Movie Info
      .container
        .left
          p#title
          p#year
          p#director
          p#writer
        .right
          p#rating
        .clearfix
        p#movie_id

    #movieList.outercontainer
      h2 Movies
      table.container
        thead
          th Title
          th Director
          th Rating
          th Delete?
        tbody

    #addMovie.outercontainer
      h2 Add Movie
      .container
        input#inputTitle(type='text', placeholder='Movie title')
        input#inputYear(type='text', placeholder='Movie year (numbers only)')
        br
        input#inputDirector(type='text', placeholder='Director')
        input#inputWriter(type='text', placeholder='Writer')
        br
        input#inputRating(type='text', placeholder='Rating (numbers only)')
        br
        button#btnAddMovie Add Movie
