extends layout

block content
  #chat
    #users
      ul#users-list
    #screen
      dl#chat-list
    #message-field
      input(type='text', name='message', id='chat-message')
      button(type='submit', onclick="SendMessage()") Send
