body {
  font: 14px Helvetica, Arial, sans-serif;
  margin: 2em 0 0;
  padding: 0;
}
h1 {
  margin: 0 auto;
  text-align: center;
}
#chat {
  margin: 0 auto;
  width: 960px;
  height: 500px;
  border: 1px solid #d3d3d3;
}
#chat #users {
  height: 100%;
  width: 180px;
  float: left;
  border-right: 1px solid #d3d3d3;
}
#chat #screen {
  height: 460px;
  width: 779px;
  float: left;
}
#chat #screen #chat-list {
  height: 430px;
  overflow: auto;
}
#chat #screen #chat-list dt {
  float: left;
  padding: 1px 5px;
}
#chat #screen #chat-list dd {
  padding: 1px 5px;
}
#chat #message-field {
  height: 20px;
  padding: 10px;
  width: 759px;
  border-top: 1px solid #d3d3d3;
  float: left;
}
#chat #message-field input {
  background-color: #fff;
  border: 0;
  width: 90%;
}
#chat #message-field button {
  float: right;
  border: 0;
  background: none;
  cursor: pointer;
  color: #000;
}
