$red = #D74B4B
$gray = #DCDDD8
$blue = #475F77
$dark_blue = #354B5E
$h2 = 3em 
$normal = 2em

body
  font 14px Lato
  margin 0 0 2em 0
  padding 0 0
  background $blue
  color: $dark_blue
  text-align center

h2
  font-size $h2
  text-shadow -1px -1px rgba(0, 0, 0, 0.2)
  color rgba(255, 255, 255, 0.3)
  background-color transparent

.clearfix
  clear both

.container
  background none repeat scroll 0 0 rgba(255, 255, 255, 0.9)
  box-shadow 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15)
  padding 1em
  border 0

.outercontainer
  width 80%
  margin 0 auto

#wrapper 
  width 70%
  margin 0 auto

#movieInfo
  display none 

  .container
    text-align left
    .left 
      width 70%
      float left
      font-size 20px

      #title
        font-size 30px
        color $red
      #year
        width 65px
        float left
      #director
        float left
      #writer
        clear both

    .right
      width 30%
      text-shadow -1px -1px rgba(0, 0, 0, 0.2)
      float left
      font-size 70px
      color rgba(53, 75, 94, 0.89)

    p
      margin 0

#movieList
  table
    margin 0 auto
    width 100%
    padding 0.5em 0 

    tbody
      tr
        &:nth-child(odd)
          background $gray
      a
        color $dark_blue
        transition color 0.3s ease
        text-decoration none
        &:hover
          color $red

#addMovie
  clear both

  input[type=text], input[type=number]
    background white
    border 1px solid $gray
    box-shadow 0 3px 3px 0 rgba(0, 40, 105, 0.27), 0 25px 50px 0 rgba(0, 0, 0, 0.15)
    margin-bottom 10px
    width 70%
    padding 5px
    color $dark_blue
    &:focus
      box-shadow 0 3px 8px 0 rgba(0, 40, 105, 0.6), 0 25px 50px 0 rgba(0, 0, 0, 0.15)

  button
    background none repeat scroll 0 0 rgba(71, 95, 119, 0.9)
    border 1px solid $blue
    box-shadow 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15)
    color $gray
    font-size 18px
    height 50px
    width 110px
    &:hover
      background none repeat scroll 0 0 rgba(171, 95, 119, 0.9)
      border 0
      color white
